.header__inner {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 692px;
}

.header__nav-link {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.header__nav-link:hover {
  color: #4776e6;
}

@media (max-width: 992px) {
  .header {
    background: #000;
  }
  .header__nav {
    display: none;
  }
}

.intro {
  background: #4776e6;
  color: #ffffff;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__inner-right {
  max-width: 690px;
}

.intro__inner-right_subtitle {
  margin-bottom: 36px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.intro__inner-right_title {
  margin-bottom: 29px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
}

.intro__inner-right_text {
  margin-bottom: 37px;
}

.overview {
  background-color: #f6f6f6;
}

.overview__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.overview__inner-item {
  padding: 50px 16px;
  text-align: center;
  background-color: #ffffff;
  -ms-flex-preferred-size: 255px;
  flex-basis: 255px;
}

.overview__inner-item_title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.overview__inner-item_icon {
  margin-bottom: 40px;
  color: #4776e6;
  font-size: 40px;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__item {
  margin-bottom: 40px;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__item-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4776e6;
}

.works__item-text {
  color: #727272;
}

.features {
  color: #ffffff;
  background: #4776e6;
}

.features .section__header-title {
  color: #ffffff;
}

.features .section__header-text {
  color: #ffffff;
}

.features .section__header-dots_i {
  background: #ffffff;
}

.features .section__header-dots::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  left: -40px;
}

.features .section__header-dots::after {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  left: 40px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features__col-left, .features__col-right {
  text-align: right;
}

.features__col-left_item, .features__col-right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 132px;
}

.features__col-left_item:last-child, .features__col-right_item:last-child {
  margin-bottom: 0;
}

.features__content {
  margin-right: 26px;
  text-align: right;
}

.features__content-right {
  margin-left: 26px;
  margin-right: 0;
  text-align: left;
}

.features__col-left_text, .features__col-right_text {
  max-width: 285px;
}

.features__col-left_title, .features__col-right_title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-icon {
  font-size: 35px;
  min-width: 50px;
  text-align: center;
}

.awesome {
  background: #f6f6f6;
}

.awesome .slider__item {
  cursor: pointer;
}

.awesome .slider__item:focus {
  outline: none;
}

.awesome .slick-list {
  margin-bottom: 92px;
  margin-right: -30px;
}

.awesome .slick-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.awesome .slick-dots button {
  background: none;
  border: none;
  outline: none;
}

.awesome .slick-dots li {
  font-size: 0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background: transparent;
  border: 1px solid #4776e6;
  cursor: pointer;
}

.awesome .slick-dots li.slick-active {
  background: #4776e6;
}

.people .slider__item {
  margin: 0 15px 60px;
  cursor: pointer;
  -webkit-box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.25);
  background-color: #eeeeee;
}

.people .slider__item:focus {
  outline: none;
}

.people .slick-list {
  margin-bottom: 92px;
  margin-right: -30px;
  padding: 10px 0;
  margin: 0 -19px;
}

.people .slick-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.people .slick-dots button {
  background: none;
  border: none;
  outline: none;
}

.people .slick-dots li {
  font-size: 0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background: transparent;
  border: 1px solid #4776e6;
  cursor: pointer;
}

.people .slick-dots li.slick-active {
  background: #4776e6;
}

.bg-path-l {
  -webkit-clip-path: polygon(4% 3%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(4% 3%, 100% 0%, 100% 100%, 0% 100%);
  background: #ffffff;
}

.bg-path-r {
  -webkit-clip-path: polygon(0% 0%, 97% 3%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 97% 3%, 100% 100%, 0% 100%);
  background: #ffffff;
}

.slider__item-inner {
  position: relative;
}

.slider__item-inner img {
  min-height: 345px;
}

.slider__item-inner_content {
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(71, 118, 230, 0.8);
  width: 100%;
  padding: 20px 50px 20px 255px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider__item-inner_text {
  margin-bottom: 20px;
  max-width: 240px;
  line-height: 22px;
}

.slider__item-inner_name {
  text-transform: uppercase;
}

.video__block {
  position: relative;
}

.video__block-img {
  width: 100%;
  max-height: 550px;
  display: block;
}

.video__block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 118, 230, 0.7);
}

.play__btn {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 105px;
  height: 105px;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.play__btn-pl {
  position: absolute;
  top: 25%;
  left: 37%;
}

.play__btn:hover {
  cursor: pointer;
}

.team {
  background: #f6f6f6;
}

.team-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-item {
  text-align: center;
}

.team-item__img {
  background: #4776e6;
}

.team-item__img img {
  width: 100%;
  height: auto;
  display: block;
}

.team-item__content {
  padding: 20px 0;
  background: #ffffff;
}

.team-item__name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #4776e6;
}

.team-item__pos {
  font-style: italic;
  text-transform: uppercase;
  color: #4776e6;
  letter-spacing: 1px;
}

.team-item__social {
  font-size: 23px;
  padding: 22px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  background: #4776e6;
}

.team-item__ic {
  border: 1px solid transparent;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.team-item__ic:hover {
  border: 1px solid #ffffff;
  cursor: pointer;
}

.pricing-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pricing-item {
  text-align: center;
  background: #4776e6;
}

.pricing-item__btn {
  padding: 15px 40px;
  background: #4776e6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.pricing-item__btn:hover {
  background: #3360c0;
  cursor: pointer;
}

.pricing-item__inner {
  background: #f6f6f6;
  -webkit-clip-path: polygon(3% 2%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(3% 2%, 100% 0%, 100% 100%, 0% 100%);
  height: 100%;
  padding: 50px 80px;
}

.pricing-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px;
  font-size: 18px;
}

.pricing-list__item {
  margin-bottom: 24px;
}

.pricing-list__item-b {
  font-weight: 700;
  font-size: 20px;
}

.pricing-list__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4776e6;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: #ffffff;
  padding: 21px 42px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 23px;
}

.pricing-list__title-prem {
  color: #ffffff;
  background: #4776e6;
}

.get {
  color: #ffffff;
  background: url("../img/get_app/get-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.get::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 118, 230, 0.8);
}

.get .section__header {
  position: relative;
}

.get .section__header-title {
  color: #ffffff;
}

.get .section__header-text {
  color: #ffffff;
}

.get .section__header-dots_i {
  background: #ffffff;
}

.get .section__header-dots::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  left: -40px;
}

.get .section__header-dots::after {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  left: 40px;
}

.stores {
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 872px;
  margin-bottom: 80px;
}

.get-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  padding: 22px 70px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.get-form__title {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.get-form__text {
  margin-left: 20px;
}

.get-form__input {
  padding: 9px 15px;
  width: 275px;
  border: none;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  margin-right: -4px;
}

.get-form__input::-webkit-input-placeholder {
  font-size: 13px;
}

.get-form__input:-ms-input-placeholder {
  font-size: 13px;
}

.get-form__input::-ms-input-placeholder {
  font-size: 13px;
}

.get-form__input::placeholder {
  font-size: 13px;
}

.get-form__btn {
  border: none;
  padding: 9px 30px;
  text-transform: uppercase;
  color: #fff;
  background: #4476e6;
  border-radius: 0 5px 5px 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.get-form__btn:hover {
  background: #3360c0;
  cursor: pointer;
}

.contacts {
  background: url("../img/contacts/contacts.jpg");
  background-size: cover;
}

.contacts-form {
  text-align: center;
}

.contacts-form__subject, .contacts-form__message {
  width: 100%;
}

.contacts-form__name, .contacts-form__email {
  width: 49%;
}

.contacts-form__name {
  margin-right: 18px;
}

.contacts-form__message {
  resize: none;
  min-height: 220px;
}

.contacts-form__btn {
  padding: 0;
  margin: 0;
  background: #4776e6;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 17px 35px;
  border-radius: 5px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.contacts-form__btn:hover {
  background: #3360c0;
  cursor: pointer;
}

.contacts-form__message, .contacts-form__subject, .contacts-form__name, .contacts-form__email {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.footer {
  background: #222222;
  color: #ffffff;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-col__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-col__text {
  max-width: 410px;
  margin-bottom: 33px;
}

.footer-col__social-item {
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.footer-col__social-item:hover {
  opacity: .4;
  cursor: pointer;
}

.footer-col__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 255px;
}

.footer-col__logo {
  margin-bottom: 30px;
}

.footer-col__item {
  margin-bottom: 21px;
}

.footer-col__item:last-child {
  margin-bottom: 0;
}

.footer-col__item-title {
  color: #4776e6;
  margin-bottom: 10px;
}

.footer-col__item-title i {
  padding-right: 10px;
}

.copyright {
  text-align: center;
  border-top: 1px solid #303030;
  padding: 35px 0;
  color: #727272;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.section {
  padding: 80px 0;
}

.section__header {
  margin-bottom: 70px;
  text-align: center;
}

.section__header-title {
  color: #4776e6;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 34px;
  position: relative;
}

.section__header-text {
  color: #606060;
  max-width: 684px;
  margin: auto;
}

.section__header-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  position: relative;
  width: 25px;
  margin-bottom: 20px;
}

.section__header-dots_i {
  height: 5px;
  width: 5px;
  background-color: #4776e6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section__header-dots::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #4776e6;
  display: block;
  position: absolute;
  top: 49%;
  left: -40px;
}

.section__header-dots::after {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #4776e6;
  display: block;
  position: absolute;
  top: 49%;
  left: 40px;
}

.button {
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #ffffff;
  text-transform: uppercase;
  padding: 23px 32px;
  outline: none;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.button:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.button-o {
  margin-left: 24px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button-o:hover {
  background: #ffffff;
  color: #303030;
  cursor: pointer;
}

.sec-bot {
  padding-bottom: 0;
}
