.awesome {
  .slider__item {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  background: $text-color-light;
  .slick-list {
    margin-bottom: 92px;
    margin-right: -30px;
  }
  .slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    button {
      background: none;
      border: none;
      outline: none;
    }
    li {
      font-size: 0;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      margin: 0 10px;
      background: transparent;
      border: 1px solid $main-color-blue;
      cursor: pointer;
    }
    li.slick-active {
      background: $main-color-blue;
    }
  }
}

@media (max-width: 1200px) {
  .slider__item-img {
    margin-left: 0;
  }
  .awesome .slick-list {
    margin-bottom: 92px;
    margin-right: 0px;
  }
}

@media (max-width: 580px) {
  .slider__item-img {
    margin-left: -24px;
    margin-right: 8px;
    img {
      margin: 0 auto;
    }
  }
  .awesome .slick-list {
    margin-right: 0px;
  }
}
